*, *::after, *::before {
  box-sizing: border-box;
}

.box {
  background-color: rgb(0, 255, 55); /* цвет фона */
  color: rgb(4, 8, 253); /* цвет текста */
  padding: 20px; /* отступы от кгаринцы div до его содержимого */
  font-size: 30px; /* размер текста */
  border-color: rgb(231, 247, 6); /* цвет границы */
  border-style:solid; /* стиль границы */
  border-width: 10px; /* толщина границы */
  line-height: 50px; /* высота строки */
  font-weight: 900; /* толщина текста */
  font-style: normal; /* стиль текста */
}

.header {
  color: black;
  background-color: rgb(0, 255, 242);
  padding: 30px;
  font-size: 40px;
  border-color: rgb(251, 255, 0);
  border-style:unset;
  border-width: 10px;
  font-weight: 900;
  font-style: obliques;
  text-align:center;
}

.box2 { /* общий контейнер для коробок с картиками */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-box { /*коробка с картинкой */
  margin: 5px;
  border-color: red; /* цвет границы */
  border-style:solid; /* стиль границы */
  border-width: 10px; /* толщина границы */
}

.ks-img-box { /*отдельная коробка с картинкой */
  border-color: rgb(231, 247, 6); /* цвет границы */
  border-style:solid; /* стиль границы */
  border-width: 10px; /* толщина границы */

}